html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

img {
  width: 500px;
  border-radius: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


header, footer{
  background-color: #643a71;
  width: 100%;
}

footer p{
  font-family: 'Playfair Display Regular', serif;
  font-size: 16px;
  color: #e1b07e;
}

footer{
  padding-top: 12px;
  padding-bottom: 12px
}

body{
  background-color: #e1b07e;
}

h1, h2, h3, h4{
  font-family: 'Playfair Display Regular', serif;
}
h1, h3{
  color: #e1b07e;
}

h1{
  margin-top: 0px;
}

h2{
  color: #050505
}

hr{
  width: 65%;
}

p, ul, ol{
  margin-left: 400px;
  margin-right: 400px;
  text-align: left;
  color: #050505;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

a {
  font-family: Arial, sans-serif;
  font-size: 20px;
}

a:link {color: #337357;}
a:visited {color: purple;}
a:hover {color: #704;}
a:active {color: pink;}

.center{
  text-align: center;
}
